body {
    background-image: url(https://i.gifer.com/origin/db/db06c14a3148ef1e0764641c2dc1f347_w200.gif);
}
div {
    color: yellowgreen;
}

.Fver {
    background-color: blue;
}
header {
    color: aqua;
}
.primeiro {
    text-align: center;
}
